@media(max-width: 1368px){
    body{
        width: 100%;
        max-width: 100%;
    }
}



@media(max-width: 1200px){
    .myhead{
        width: 100%;
        max-width: 100%;
    }

};

@media(max-width: 1162px){
    body{
        max-width: 100%;
        width: 100%;
    }
};


@media(max-width: 465px){
    .heading{
        width: 100%;
        max-width: 100%;
    }
    .ds b{
        font-size: 5px;
    }
    .description{
        visibility: none;
    }
}